body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:440px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2 {
  position:absolute;
  left:552px;
  top:192px;
  width:255px;
  height:48px;
  color:#FF0000;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
